name: Execute Docker custom actions

on: 
  workflow_dispatch:
    inputs: 
      who-to-greet:
        description: 'who to greet'
        type: string
        required: true

jobs:

  execute:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Execute Docker custom action
        uses: ./github/actions/hello-world-docker-action
        with:
          who-to-greet: 'abc123'
